<!-- Place details page -->

<h1> <%= @place["name"] %> </h1>

<h2> Entries </h2>

<ul>
  <% for entry in @entries %>
    <li>
      <h3> <%= entry["title"] %> </h3>
      <%= entry["posted_on"] %>
      <%= entry["description"] %>
  <% end %>
</ul>


<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>


<p> 

<a href="/places">  <strong> Back to All Places You've Been To <strong> </a> 

</p>
